<% if @user.errors.any? %>
  <ul class= "alert alert-danger" role="alert">
    <h3 class="alert-heading">
      <%= @user.errors.count %>error prohibited this obj from being saved:
    </h3>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<div class= "container">

<div class= "row">

<div class= "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

<h1>User info</h1>

<%= form_with model: @user do |f| %>

<div class= "form-group">
  <label for= "inputName">Name</label>
    <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name" %>
</div>

<div class= "form-group">
  <label for= "inputImage">Image</label>
    <%= f.file_field :profile_image, placeholder:"Image", accept:"image/*" %>
</div>

<div class= "form-group">
  <label for= "inputIntroduction">Introduction</label>
    <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", placeholder:"Introduction" %>
    <%= f.submit "Update User", class:"btn btn-secondary" %>
<% end %>
</div>


</div>

</div>

</div>

<p>Find me in app/views/users/edit.html.erb</p>
