<div class= "container py-5">

  <% @books.each do |book| %>

  <div class= "row">

  <div>
    <p><%= image_tag @user.get_profile_image(100,100) %></p>
    <p>Title: <%= link_to book.title, books_path %></p>
    <p>Opinion: <%= book.body %></p>
    <p><%= link_to book.user.name, user_session_path %></p>
  </div>

  <% end %>

  </div>

  <%= render 'list', book: @book, books: @books, user: @user %>

</div>






<p>Find me in app/views/books/index.html.erb</p>
