<div class= "container px-5 px-sm-0">

<div class= "row">

<%= render 'list', book: @book %>

<div class= 'col-md-8 offset-md-1'>

<h2>Book detail</h2>

<table class=>
  <p><%= image_tag book.get_image %></p>
  <p>Title: <%= link_to "book.title",book_path.id %></p>
  <p>Opinion: <%= book.body %></p>
  <p><%= link_to "book.user.name", user_path.id %></p>
  <%= if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>


</div>